<h1 class="red-text text-lighten-2">Offers</h1>

<table class="striped bordered responsive-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>URL</th>
      <th>Status</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render @offers %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_admin_offer_path,
  class: "btn waves-effect waves-light" %>
