<div class="col s12 m6">
  <div class="card">
    <div class="card-content">
      <span class="card-title"><%= offer.advertiser_name %></span>

      <% if offer.premium %>
        <p class="premium red lighten-1 white-text">
          Premium
        </p>
      <% end -%>

      <%= truncate offer.description, length: 70 %>
    </div>

    <div class="card-action">
      <%= link_to_offer_url(offer) %>
    </div>
  </div>
</div>
